h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    background-color: antiquewhite;
    color: rgba(193, 57, 57, 0.31);
}
h2 {
    float: right
    margin: 35px;
    margin-left: 185px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    background-color: rgba(101, 189, 166, 0.728);
    color: white;
}


h3 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

h5 {
    float: right
    margin: 35px;
    margin-left: 185px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    background-color: rgba(101, 189, 166, 0.728);
    color: white;
}

#chart1 {
  margin: 35px;
  margin-left: 185px;
  height: auto;
  width: auto;
}

#chart2 {
  margin: 35px;
  margin-left: 185px;
  height: auto;
  width: auto;
}

.side-bar-1 {
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.side-bar-1:after {
  content: "";
  display: table;
  clear: both;
}

.side-bar-2 {
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.side-bar-2:after {
  content: "";
  display: table;
  clear: both;
}